.starFill {
    cursor: "pointer";
    transition: color 200ms, width 2s;
    position: absolute;
    top: 0;

  }
  
  .starContainer {
    cursor: pointer;
    transition: color 200ms;
    position: absolute;

  }

  .parent {
    position: relative;
    width: 50px;
    display: inline-block;
}