.progressBarContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;

  background-color: var(--offWhite);
}

.progressBarSegment {
  transition: flex 0.3s ease;
  cursor: pointer;

  &:hover {
    border: 2px solid var(--darkenedColor);
  }

  .tooltip {
    display: none;
    position: absolute;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
