.scheduledSection {
    text-align: center;
    border: 2px;
    border-color:black;
    border-radius: 2%;
    grid-row-start: 0;
    grid-row-end: 0;
    border-style: solid;
}

.courseName {
    text-align: center;
    font-weight: bold;
}

