.scheduledSection {
    margin-left: .5%;
    margin-right: .5%;
    text-align: center;
    border: dashed 3px;
    border-color: var(--primaryColor);
    border-radius: 2%;
    grid-row-start: 0;
    grid-row-end: 0;
}

.courseName {
    text-align: center;
    font-weight: bold;
}

