.scheduledSection {
    //margin-top: .5%;
    //margin-bottom: .5%;
    //margin-left: .5%;
    //-right: .5%;
    text-align: center;
    border: solid 3px;
    border-color: var(--primaryColor);
    border-radius: 2%;
    grid-row-start: 0;
    grid-row-end: 0;
}

.courseName {
    text-align: center;
    font-weight: bold;
}

