
.title {
    font-size: xx-large;
    text-align: center;
}

.gridContainer{
  display: flex;
  justify-content: flex-start;
}

.grid {
    margin-left: 5%;
    width: 97%;
    height: 100%;
    display: grid;
    border: solid white;
    // border-top: solid white;
    // border-right: solid white;
    // border-bottom: solid white;
    border-width: 5px;
    border-radius: 1%;
    row-gap: 0px;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.timeGrid{
  width: 1fr;
  border-block-width: 5%;
  height: 100%;
  display: grid;
  border: solid white;
  // border-left: solid white;
  // border-bottom: solid white;
  // border-top: solid white;
  border-width: 5px;
  border-radius: 2%;
  row-gap: 0px;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: 50px;
}

.item {
    margin: .5%;
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 2%;
    border: solid black;
    text-align: center;
}

.timeColumn {
    margin: -1%;
    grid-row: span 1;
    grid-column: span 1;
    vertical-align: top;
    text-align: center;
}

.inlineDiv {
    margin-left: 12.5%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
  }
  
  h3 {
    display: inline-block;
    text-align: center;
  }


  .invisibleItem{
    grid-row: span 2;
    grid-column: span 1;
    border-right: 2px rgba(0, 0, 0, 0.5);
    border-right-style: dashed;
  }

  .beforeNoonItem{
    grid-row: span 1;
    grid-column: span 1;
    border-right: 2px;
    border-right-style: dashed;
    border-right-color: darkslategray;
  }
  .noonItem{
    grid-row: span 1;
    grid-column: span 1;
    border-top: 2px;
    border-top-style: dashed;
    border-top-color: gray;
    // margin-left: 2px;
    // margin-right: 2px;
    border-right: 2px;
    border-right-style: dashed;
    border-right-color: darkslategray;
  }

  .columnLine1{
    grid-row-start: 0;
    grid-row-end: 28;
    grid-column-start: 0;
    grid-column-end: 1;
    border-right: 2px;
    border-right-color: black;
    border-right-style: dashed;
  }
  .columnLine2{
    grid-row-start: 0;
    grid-row-end: 28;
    grid-column: 2;
    border-right: 2px;
    border-right-color: black;
    border-right-style: dashed;
  }
  .columnLine3{
    grid-row-start: 0;
    grid-row-end: 28;
    grid-column: 3;
    border-right: 2px;
    border-right-color: black;
    border-right-style: dashed;
  }
  .columnLine4{
    grid-row-start: 0;
    grid-row-end: 28;
    grid-column: 4;
    border-right: 2px;
    border-right-color: black;
    border-right-style: dashed;
  }

  .column1{
    grid-row-start:0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end:1;
    border: 2px;
    border-color: black;
    text-align: center;
    border-style: solid;
  }