.entriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  .entry {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    .title {
      width: 120px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 120px;
    }

    .data {
      text-align: left;
      flex-grow: 1;
    }
  }
}
