.entriesContainer {
  padding: 5px;
  .entry {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    .title {
      min-width: 120px;
    }

    .data {
      text-align: left;
      flex-grow: 1;
    }
  }
}
