.SectionList{
    height: max-content;

    h2 {
        text-align: center;
        text-decoration: underline;
    }
    
    .center {
        text-align: center;
        height: 100%;
    }

    .row {
        display: flex;
    }

    .column {
        display: block;
        flex-direction: column;
    }

    Button {
        border: 3px solid var(--primaryColor);
        border-radius: 50px;
        transition:
            background-color 0.3s,
            border-color 0.3s,
            transform 0.2s;
        background-color: var(--backgroundColor);
        color: var(--primaryColor);
    
        height: 125px;
        width: 80%;
    
        margin-bottom: 16px;
    
        &:hover {
            background-color: var(--primaryColor);
            border-color: var(--surfaceColor);
            color: var(--surfaceColor);
        }
    
        &:active {
            transform: scale(0.95);
            background-color: var(--headerColor);
            color: var(--accentColor);
        }
    }

    Button.scheduled{
        border: 6px solid var(--primaryColor);

        background-color: var(--primaryColor);
        border-color: var(--surfaceColor);
        color: var(--surfaceColor);
    }

    Button.disabled{
        border: 3px dashed var(--surfaceColor);
    }

    Button.back {
        border: 3px solid var(--bs-danger);

        background-color: var(--backgroundColor);
        color: var(--bs-danger);
    
        height: 75px;
        width: 50%;
    
    
        &:hover {
            background-color: var(--bs-danger);
            border-color: var(--surfaceColor);
            color: var(--surfaceColor);
        }
    
        &:active {
            transform: scale(0.95);
            background-color: var(--bs-danger);
            color: var(--accentColor);
        }
    }

    Button.clear {
        position: absolute;
        bottom: 16px;
        left: 6.25%;
        
        height: 75px;
        width: 12.5%;

        border: 3px solid var(--bs-danger);
        transition:
            background-color 0.3s,
            border-color 0.3s,
            transform 0.2s;
        background-color: var(--backgroundColor);
        color: var(--bs-danger);
    
        &:hover {
            background-color: var(--bs-danger);
            border-color: var(--surfaceColor);
            color: var(--surfaceColor);
        }
    
        &:active {
            transform: scale(0.95);
            background-color: var(--bs-danger);
            color: var(--accentColor);
        }
    }


}
