.courseNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background: #f7fbff;
  border-radius: 10px;
  border: 5px solid var(--initialBorderColor, black);
  cursor: pointer;

  width: fit-content;
  height: 15vh;

  font-size: 1px !important;

  &:hover {
    border-color: var(--darkenedColor, black);
  }

  h4 {
    text-align: center;
    font-size: max(3vh, 16px);
    width: 11vw;
  }
}

.darkenedCourse {
  background: rgb(231, 239, 246);
}
