.SemesterView {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transform: translateX(100%);

  transition: transform 0.35s ease-in-out;

  &.slideIn {
    transform: translateX(0%);
  }

  &.slideOut {
    transform: translateX(100%);
  }
}

.myrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.week_chart {
  width: 75%;
  height: 100%;
}

.course_list {
  width: 25%;
  height: 100%;
  border: 5px solid black;
}
