:root {
  --white: #fff;
  --primaryColor: #2e5eaa;
  --backgroundColor: #a5c8e4;
  --textColor: #394b59;
  --headerColor: #1c3d6c;
  --surfaceColor: #f4f6f8;
  --accentColor: #ffd166;
  --offWhite: #e9eef4;

  --focusedHeight: 87%;
  --topBarHeight: calc((100% - var(--focusedHeight)) / 2);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--backgroundColor);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  .focusedContent {
    background-color: var(--white);
    border: 1px solid gray;
    border-radius: 6px;
    width: 97%;
    height: var(--focusedHeight);
    transition: all 0.3s ease-in-out;

    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
  background: var(--headerColor);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--textColor);
  cursor: pointer !important;
}
