:root {
  --white: #fff;

  --topBarHeight: 6vh;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: overlay;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
