.BottomBar {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 10%;
  width: 100%;
  height: var(--topBarHeight);

  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--headerColor);
}
